In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv('drug200.csv')
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [4]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [5]:
data[0:5]

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

# preprocesssing

In [13]:
x=data[['Age','Sex','BP','Cholesterol','Drug']].values
x[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 'drugY'],
       [47, 'M', 'LOW', 'HIGH', 'drugC'],
       [47, 'M', 'LOW', 'HIGH', 'drugC'],
       [28, 'F', 'NORMAL', 'HIGH', 'drugX'],
       [61, 'F', 'LOW', 'HIGH', 'drugY']], dtype=object)

In [16]:

x[0:5]

array([[23, 'F', 'HIGH', 'HIGH', 'drugY'],
       [47, 'M', 'LOW', 'HIGH', 'drugC'],
       [47, 'M', 'LOW', 'HIGH', 'drugC'],
       [28, 'F', 'NORMAL', 'HIGH', 'drugX'],
       [61, 'F', 'LOW', 'HIGH', 'drugY']], dtype=object)

# As you may figure out,some features inthis dataset are categorical,such as sex or BP.Unfortunately, Sklearn Decision Tree does not handle categorival variables.We can still convert these features to numerical values using LabelEncoder to convert the categorical varuable into numerical variables.

In [19]:
from sklearn import preprocessing 
le_sex=preprocessing.LabelEncoder()
le_sex.fit(['F','M'])
x[:,1]=le_sex.transform(x[:,1])
le_BP=preprocessing.LabelEncoder()
le_BP.fit(['LOW','NORMAL','HIGH'])
x[:,2]=le_BP.transform(x[:,2])
le_chol=preprocessing.LabelEncoder()
le_chol.fit(['NORMAL','HIGH'])
x[:,3]=le_chol.transform(x[:,3])
x[0:5]

ValueError: y contains previously unseen labels: '0'

In [20]:
y=data['Drug']
y[0:5]

0    drugY
1    drugC
2    drugC
3    drugX
4    drugY
Name: Drug, dtype: object

# Setting up the decision tree
# we will be using train/test split on our decision tree.let's import train_test_split from sklearn.cross_validation.

In [21]:
from sklearn.model_selection import train_test_split

# Now trian_test_split will return 4 differnt parameters.we will name them:
# x_train,x_testset,y_trainset,y-testset
# the train_test_split will need the parameters:
# x,y,test_size=0.3,and random_state=3.
# the x and y are the arrays requires before the split,the test_size represent the retio of the resting dataset ,and thehreandom_state ensures theat we obtain the same splits.

In [22]:
x_trainset,x_testset,y_trainset,y_testset=train_test_split(x,y,test_size=0.3,random_state=3)

# Modeling

# we will first create an instance of the DecisionTreeClassifier called Drug tree.
# inside of the classifier,specify criterion='entropy' so we see the information gain of each node.

In [23]:
drugtree=DecisionTreeClassifier(criterion="entropy",max_depth=4)
drugtree

NameError: name 'DecisionTreeClassifier' is not defined

In [24]:
drugtree.fit(x_trainset,y_trainset)

NameError: name 'drugtree' is not defined

# prediction

In [ ]:
predTree=drugTree.predict(x_testset)
print(predTree[0:5})
print(y_testset[0:5])

# Evaluation

In [ ]:
from sklearn import metrics
import matplotlib.pyplot as plt
print('DecisionTreess accuracy:',metrics.accuracy_score(y_testset,predtTree))

In [26]:
plt.plot_tree(drugTree)
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'plot_tree'

In [ ]:
x.